.parent{
    overflow-x: hidden;
}

.titl{
    text-align: center;
    font-family: Courgette;
    font-size: 28px;
    color: rgb(118, 38, 104);
    text-shadow: 1px 2px white;
    padding: 3%;
}

.card-row {
    background-color: lightblue;
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: cover;
    border-radius: 35px;
    box-shadow: inset 5px 5px 8px 7px white;
}

.crd{
    border-radius: 35px;
    box-shadow: 5px 5px 8px 7px white;
}

.card-content:hover {
    transform: scale(1.2);
}

.form-container{
   padding:35px;
    align-items: center;
}

.anunt{
    text-align: center;
    font-family: Courgette;
    font-size: 22px;
    color: rgb(118, 38, 104);
    padding: 10px;
}